<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Customers List POC</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/Customer">Customers</a></li>
        </ul>
    </div>
</nav>